@import url("https://fonts.googleapis.com/css2?family=Lora&family=Roboto");

@import url("components/container.css");

@import url("components/banner.css");

@import url("components/button.css");

@import url("components/avatar.css");


@import url("components/card.css");




body{
	font-family: 'Lora', serif;
	font size: 18px;
	margin: 0px;
	background-color: #CCCCCC;
}
P {font-weight: bold;}
h1{
 font-family: 'Roboto', sans-serif;
font-weight: bold;
font-size: 60px;
text-align: center;
}
h2{ font font-weight: lighter;
	font-family: 'Lora', serif;
	padding: 10px;
}


a{ text-decoration: none;
	color:black;
  }
  a:hover{ color: black; }
h3 { text-align: center;
  }
